* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://wallpapercave.com/wp/wp3906251.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  filter: opacity(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.heading {
  text-align: center;
  font-size: 30px;
  filter: opacity(80%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
}

#start_button {
  text-align: center;
  height: 50px;
  width: 80%;
  max-width: 200px;
  font-size: 20px;
  background-color: rgb(11, 179, 11);
  border-radius: 20px;
  filter: opacity(85%);
  margin-bottom: 20px;
}

.back_button {
  text-align: center;
  font-size: 15px;
  height: 50px;
  width: 80%;
  max-width: 120px;
  background-color: rgb(11, 179, 11);
  border-radius: 40px;
  filter: opacity(85%);
  margin-bottom: 5vw;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: flex;
  font-size: 5vw;
}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

